
<!DOCTYPE html>
{% extends "first_app/start.html" %}
{% block body_block %}


<h1>New Confession:</h1>

<div class = "container">
    <form method = "post">
        {% csrf_token %}
        <div class = "py-5 px-7 mx-5 w-4/5">
            {{form.heading}}
        </div>
        <div class = "px-7 mx-5 ">
            {{form.text}}
        </div>
        <div class="px-2 py-2">
        <button class= "ml-9 mt-3 px-5 py-2 bg-redditNav text-white font-semibold hover:text-redditNav hover:bg-zinc-500 border-zinc-500 hover:border-black border-2 rounded-full">
            Submit
        </button>
        </div>
        
    </form>
</div>
{% endblock %}
